:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 12px;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}

.gallery-modal {
  position: relative;
  padding: 5px 15px;
}

.gallery-modal__description {
  margin: 0.3em 0;
  transform: translateX(50%);
  transition: transform var(--animation-duration) var(--timing-function);
  color: #fafafa;
}

.gallery-modal__span {
  display: inline-block;
  transform: translateX(-50%);
  transition: transform var(--animation-duration) var(--timing-function);
}

.back-btn,
.next-btn {
  position: absolute;
  top: 47%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 40px;
  border: none;
  background-color: transparent;
  color: bisque;
  opacity: 0.6;
}

.back-btn {
  left: 0;
}

.next-btn {
  right: 0;
}
